<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Team Members</title>
	</head>
	<body>
		<header>
			<h1>Tasks Tracking System</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/tasks">Tasks List</a>
					</li>

				</ul>
			</nav>
		</header>
		<main>
			<section id='all-memebers'>
				<h2>Team Members:</h2>
				<ul>
					<% for(var i = 0; i < employees.length; i++){ %>
						<li>
							<a href="/employees/<%=employees[i].id%>"><%=employees[i].name%> </a>
						</li>
					<% } %>
				</ul>
			</section>
			<section id='tasked-member'>
				<h2>Tasked Members:</h2>
				<ul>
					<% for(var i = 0; i < employees.length; i++){ %>
						<li>
							<a href="/employees/<%=employees[i].id%>"><%=employees[i].name%> </a>
						</li>
					<% } %>
				</ul>
			</section>
		</main>
	</body>
</html>
