
<hr>
<footer>
	<div class="container" id="nav">
		<div id="navigation">
			<ul>
				<li ><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</div><!-- navigation -->
	</footer>
