
<header>
  <h1>Tasks Tracking System</h1>
  <div class="container"   id='container-1' >
    <div class="row" id='nav'>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a id='navbar' class="navbar-brand" href="/">Home</a>
      </nav>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a id='navbar'class="navbar-brand"  >|</a>
      </nav>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a id='navbar'class="navbar-brand" href="/employees">Team Members</a>
      </nav>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a id='navbar'class="navbar-brand"  >|</a>
      </nav>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a id='navbar'class="navbar-brand" href="/tasks">Task List</a>
      </nav>
    </div>
    
  </div>
</header>
