<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Tasks Tracking System</h1>
			<nav>
				<ul>
					<li>
						<a href="/tasks">Task List</a>
					</li>
					<li>
						<a href="/employees">Employees</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
