<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
</head>
<body>
<% include ./partials/header %>

  <div id='container-1' class="container">
    <div class="col-xs-2">
    </div>
   <div  id='container-1-image' class="col-xs-8">
     <img   id='img' src="http://www.jeonsoft.com/wp-content/uploads/Company-Profile.jpg" alt="">
   </div>
   <div class="col-xs-2">
   </div>
  </div>
<% include ./partials/footer %>
</body>
</html>
