<!-- This file used to add new task
which do the following:
- add task package to mongoose
- add assigned employee package to mongoose -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <title>Add employees to new Task</title>
  <script>
  function back() {
    window.history.back();
  }
  </script>
</head>
<body>
  <% include ../partials/header %>
  <div class="container-1">
    <div class="row">
      <h4> Create New Task</h4>
    </div>
    <form class="" action="/tasks/create" method="post">
      <div class="row">
        <h4> Task information:</h4>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="task">Task Name:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' class="form-control" type="text"  name="taskName" value=""> <span id='required'> (required)</span><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="chargeNumber">Charge Number:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' class="form-control"  type="text"  name="chargeNumber" value=""><span id='required'> (required)</span><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <label for="hours">Total hours:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='text' type="text" class="form-control"  name="numberHours" value=""><span id='required'> (required)</span><br>
        </div>
      </div>
      <div class="row">
        <div id='col-1-show' class="col-xs-6">
          <label for="description">Description:</label>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <textarea id='text' class="form-control custom-control" rows="3" style="resize:none"></textarea>
        </div>
      </div>

      <div class="row">
        <div id='col-1-show'class="col-xs-6">
          <input id='button'class="btn btn-primary" type="submit" value="Back"/>
        </div>
        <div id='col-2-show'class="col-xs-6">
          <input id='button' class="btn btn-primary" type="submit" value="Add Task"/>
        </div>
      </div>





    </form>
  </div>

  <% include ../partials/footer %>
</body>
</html>
