<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assigned Task  Information</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

    </ul>
    <h2> Assigned Task Name </h2>
      Show latest ASSIGNED tasks information
      which includes (number of employees, num hour available remain)
      =-- Manager will be able to edit informtion on this page
  </body>
</html>
