<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head %>
    <title>Assigned Task  Information</title>
  </head>
  <body>
     <% include ../partials/header %>
    <h2> Assigned Task Name </h2>
      Show latest ASSIGNED tasks information
      which includes (number of employees, num hour available remain)
      =-- Manager will be able to edit informtion on this page

       <% include ../partials/footer %>
  </body>
</html>
